<div class='container'>
  <div class= "row">
    <div class='col-md-3'>
      <% if customer_signed_in? %>
        <div class="card">
          <div class="search_card">
            <div class="card-body text-center">
            <h4>検索</h4>
              <%= form_with method: :get, url: customer_traders_path do |f| %>
  　           <div class="form-group">
                <%= f.label :area_ids, '対応エリア' %><br>
                <%= f.collection_select :area_ids, @areas, :id, :compatible_area, prompt: "選択して下さい", selected: nil, class: 'form-control' %>
                <div class="mb-5"></div>
                <%= f.label :machine_ids, '対応機器' %><br>
                <%= f.collection_select :machine_ids, @machines, :id, :possible_machine, prompt: "選択して下さい", selected: nil, class: 'form-control' %>
                <div class="mb-5"></div>
                <%= f.label :start_time, '対応希望日' %><br>
                <%= f.date_field :start_time %>
                <div class="mb-5"></div>
                <%= f.submit "検索", class: "btn-sm btn-primary" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class='col-md-9'>
      
      <%= render 'index', traders: @traders %>
      
    <%= paginate @traders %>
    </div>
  </div>
</div>