<div class="container">
  <h2>業者詳細</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group col-8">
        <%= image_tag @trader.get_profile_image(100, 100) %>
        </div>
      </div>
      <div class="col-md-9">
      <table>
        <tbody>
          <tr>
            <td>会社名</td>
            <td><%= @trader.company_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @trader.company_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td>〒<%= @trader.post_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @trader.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @trader.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @trader.email %></td>
          </tr>

          <tr>
            <td>対応エリア</td>
            <td><%= @trader.areas.map(&:compatible_area).join(" / ") %></td>
          </tr>
          <tr>
            <td>対応機器</td>
            <td><%= @trader.machines.map(&:possible_machine).join(" / ") %></td>
          </tr>
          <tr>
            <td>対応可能日</td>
            <td><%#= @trader.schedules.map(&:start_time).join(" / ") %></td>
          </tr>
          <tr>
            <td>PR</td>
            <td><%= @trader.public_relations %></td>
          </tr>
        </tbody>
      </table>
    <br>
    <div class="flex align-center pl5">
      <%= link_to "編集する", edit_trader_path(@trader), class: "btn btn-success" %>
    </div>
    </div>
  </div>
</div>
