<div class="container">
  <h2>商品詳細</h2>
    <div class="row">
      <div class="col-md-3 mr-5">
        <%= image_tag @item.get_profile_image(300,300) %>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th></th>	
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>会社名</td>
          <td><%= @trader.company_name %></td>
        </tr>
        <tr>
          <td>カナ</td>
          <td><%= @trader.company_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td>〒<%= @trader.post_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @trader.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @trader.telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @trader.email %></td>
        </tr>
        <tr>
          <td>対応可能機器</td>
          <td>
            <% if @item.is_active? %>
              <span class="text-active">家庭用</span>
            <% else %>
              <span class="text-invalid">業務用</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>PR・実績・資格等</td>
          <td><%= @trader.public_relations %></td>
        </tr>
      </tbody>
    </table>
    <div class="flex align-center pl5">
      <%= link_to "編集する", edit_trader_path(@trader), class: "btn btn-success" %>
    </div>
</div>
