<div class="container">
  <h2>業者詳細</h2>
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @trader.get_profile_image(100, 100) %>
      </div>
      <div class="col-md-4">
        <table>
          <thead>
            <tr>
              <th></th>	
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>会社名</td>
              <td><%= @trader.company_name %></td>
            </tr>
            <tr>
              <td>カナ</td>
              <td><%= @trader.company_name_kana %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td>〒<%= @trader.post_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= @trader.address %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= @trader.telephone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @trader.email %></td>
            </tr>
            <tr>
              <td>対応可能機器</td>
              <td>
                <% if @trader.compatible_machine == true %>
                <span class="text-active">家庭用</span>
                <% else %>
                <span class="text-active">業務用</span>
                <% end %>  
              </td>
            </tr>
            <tr>
              <td>PR・実績・資格等</td>
              <td><%= @trader.public_relations %></td>
            </tr>
            <tr>
              <td>対応可能エリア</td>
              <td><%= @trader.areas.map(&:compatible_area).join("/") %></td>
            </tr>
          </tbody>
        </table>
        </div>
        
        <div class="col-md-5">
          <div class="flex align-center pl5">
            <%= link_to "レビューする", new_trader_post_path(@trader), class: "btn btn-success" %>
          </div>
         <div>
            <% @post_comments.each do |post_comment| %>
              <%= post_comment.customer.last_name %>
              <%= post_comment.comment %>
              <%= post_comment.created_at.strftime('%Y/%m/%d') %>
            <% end %>
          </div>   
        </div>
        
    </div>
</div>  