<div class="container">
  <h2>業者詳細</h2>
    <div class="row">
      <div class="col-md-2">
        <%= image_tag @trader.get_profile_image(100, 100) %>
      </div>
      <div class="col-md-5">
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>会社名</td>
              <td><%= @trader.company_name %></td>
            </tr>
            <tr>
              <td>カナ</td>
              <td><%= @trader.company_name_kana %></td>
            </tr>
            <tr>
              <td>郵便番号</td>
              <td>〒<%= @trader.post_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= @trader.address %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= @trader.telephone_number %></td>
            </tr>
            <tr>
              <td>メールアドレス</td>
              <td><%= @trader.email %></td>
            </tr>
            <tr>
              <td>対応可能エリア</td>
              <td><%= @trader.areas.map(&:compatible_area).join("/") %></td>
            </tr>
            <tr>
              <td>対応機器</td>
              <td><%= @trader.machines.map(&:possible_machine).join("/") %></td>
            </tr>
            <tr>
              <td>PR</td>
              <td><%= @trader.public_relations %></td>
            </tr>
          </tbody>
        </table>
        <div class="flex align-center pl5">
          <%= link_to "業者一覧", customers_path, class: "btn btn-success" %>
        </div>
        </div>

        <% if customer_signed_in? %>
        <div class="col-md-5">
          <h5>＜レビュー履歴＞</h5>

          <% @posts.each do |post| %>
          <table>
            <tbody>
              <tr>
               <div id="star_<%= book.id %>"></div>
               <script>
               $(document).on('turbolinks:load', function() {
                 let elem = document.querySelector('#star_<%= post.id %>');
                 if (elem == null) return;
  
                 lem.innerHTML = "";
                 let opt = {  
                   starOn: "<%= asset_path('star-on.png') %>",
                   starOff: "<%= asset_path('star-off.png') %>",
                   score: "<%= post.star %>",
                   readOnly: true,
                 };
                  raty(elem, opt);
               });
               </script>
              </tr>
              <tr><%= post.customer.last_name %>　様　　　</tr>
              <tr><%= post.created_at.strftime('%Y/%m/%d') %></tr><br>
              <tr><%= post.comment %></tr><br>
            </tbody>
          </table>
          <% end %>
          <div class="flex align-center pl5">
            <%= link_to "レビューする", new_trader_post_path(@trader), class: "btn btn-success" %>
          </div>
        </div>
        <% end %>
    </div>
</div>