<div class="container-md  mt-3">
<h2>新規会員登録</h2>
  <%= form_with model:@customer,url: customer_registration_path do |f| %>
  <%#= render "customer/shared/error_messages", resource: resource %>
  <div class="row justify-content-evenly mt-3">
    <div class="col-4 offset-md-1" >
      <label>お名前</label>
      <%= f.label :last_name, "( 姓 )" %>
      <%= f.text_field :last_name, autofocus: true ,:placeholder =>"空気", class: "form-control" %>
    </div>
    <div class="col-4 offset-md-1">
      <%= f.label :first_name, "(名)" %>
      <%= f.text_field :first_name, :placeholder =>"喜朗", class: "form-control" %>
    </div>
    <div class="col-4 offset-md-1 mt-3">
      <label>カナ</label>
      <%= f.label :last_name_kana, "(セイ)" %>
      <%= f.text_field :last_name_kana, :placeholder =>"クウキ", class: "form-control" %>
    </div>
    <div class="col-4 offset-md-1 mt-3">
      <%= f.label :first_name_kana, "(メイ)"  %>
      <%= f.text_field :first_name_kana, :placeholder =>"ヨシロウ", class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 offset-md-1 mt-3">
      <label>メールアドレス</label>
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email", :placeholder =>"888@888.com", class: "form-control" %>
    </div>
  </div>
  <div class="row justify-content-evenly">
    <div class="col-4 offset-md-1 mt-3">
      <label> パスワード (6文字以上)</label>
      <%= f.label :password %>
       <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="col-4 offset-md-1 mt-3">
      <label> パスワード (確認用)</label>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %><br>
    </div>
  </div>
  <div class="row justify-content-evenly mt-2">
    <div class="col-4 offset-md-1">
      <%= f.submit "新規登録", class: "btn btn-primary btn-lg" %>
    </div>
  <% end %>
    <div class="col-4 offset-md-1">
      <h4>既に登録済みの方</h4>
      <p><%= link_to "こちら", new_customer_session_path, class: "underline" %>からログインしてください。</p>
    </div>
  </div>
</div>