<div class="container">

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <P class="nav-link active" aria-current="true"><%= @trader.company_name %></P>
      </li>
    </ul>
  </div>
  <div class="card-body">
<h2>会社詳細</h2>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group col-8">
        <%= image_tag @trader.get_profile_image(100, 100) %>
      </div>
    </div>
    <div class="col-md-10">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">会社名</th>
            <td><%= @trader.company_name %></td>
          </tr>
          <tr>
            <th scope="row">カナ</th>
            <td><%= @trader.company_name_kana %></td>
          </tr>
          <tr>
            <th scope="row">郵便番号</th>
            <td>〒<%= @trader.post_code %></td>
          </tr>
          <tr>
            <th scope="row">住所</th>
            <td><%= @trader.address %></td>
          </tr>
          <tr>
            <th scope="row">電話番号</th>
            <td><%= @trader.telephone_number %></td>
          </tr>
          <tr>
            <th scope="row">E-mail</th>
            <td><%= @trader.email %></td>
          </tr>
          <tr>
            <th scope="row">対応エリア</th>
            <td><%= @trader.areas.map(&:compatible_area).join(" ／ ") %></td>
          </tr>
          <tr>
            <th scope="row">対応機器</th>
            <td><%= @trader.machines.map(&:possible_machine).join(" ／ ") %></td>
          </tr>
          <tr>
            <th scope="row">対応可能日</th>
            <td><%= @schedules.map{|s| s.start_time.strftime("%-m月%-d日")}.join(" ／ ") %></td>
                <!--上コードは以下と同じ意味-->
                <%# @trader.schedules.each do |schedule| %>
                <%#= schedule.start_time.strftime("%m月%d日") %>
                <%# end %>
          </tr>
          <tr>
            <th scope="row">Ｐ　Ｒ</th>
            <td><%= @trader.public_relations %></td>
          </tr>
        </tbody>
      </table>
      <div class="flex align-center pl5">
        <%= link_to "編集する", edit_trader_path(@trader), class: "btn btn-success" if @trader == current_trader %>
      </div>
    </div>

  </div>
</div>

    <!--♯自分の会社のレビューは見られるようにする-->
    <% if customer_signed_in? %>
    <div class="col mt-3">
      <h6>＜レビュー＞</h6>
      <% @posts.each do |post| %>
        <div class="card ml-5">
          <div class="card-body">
            <%= render "trader/posts/rating", post: post %>
            <div class="card-text">
              <%= post.customer.last_name %>　様
              <%= post.created_at.strftime('%Y/%m/%d') %><br>
              <%= post.comment %></tr><br>
              <% if post.customer == current_customer %>
              <%= link_to [@trader, post], method: :delete, style: 'color: red;' do %>
               <i class="fas fa-trash-alt"></i>
              <% end %>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
      <div class="mt-3 mx-5">
        <%= link_to "レビューする", new_trader_post_path(@trader), class: "btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>
</div>