<div id="star_<%= post.id %>"></div>
<script>
  $(document).on('turbolinks:load', function() {
    let elem = document.querySelector('#star_<%= post.id %>');
    if (elem == null) return;
    elem.innerHTML = "";
    let opt = {
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      score: "<%= post.rating %>",
      readOnly: true,
    };
    raty(elem, opt);
  });
</script>